@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "cpital";
    src: url(fonts/000000.ttf)
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "cpital";
    src: url(fonts/000000.ttf)
    }
@font-face {
    font-family: "glosa";
    src: url(fonts/000001.ttf)
    }

.ancho {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: table-cell;
    font-weight: bold;
    hyphens: none;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    vertical-align: inherit;
    width: 16%
    }
.ancho_full {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: 100%
    }
.ancho1 {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: table-cell;
    font-weight: bold;
    hyphens: none;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    vertical-align: inherit;
    width: 27%
    }
.ancho2 {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: table-cell;
    hyphens: none;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 5%
    }
.ancho3 {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: table-cell;
    hyphens: none;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 11%
    }
.ancho4 {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: table-cell;
    hyphens: none;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit;
    width: 27%
    }
.autor {
    color: inherit;
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.bloque_exlibris {
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    height: auto;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 5%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: 25%
    }
.calibre {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    orphans: 2;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    widows: 2
    }
.calibre1 {
    color: inherit;
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.calibre2 {
    color: inherit;
    font-size: 1em;
    font-style: italic;
    font-weight: inherit;
    line-height: 1.2;
    text-decoration: none;
    vertical-align: baseline
    }
.calibre3 {
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre4 {
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre5 {
    color: inherit;
    font-size: 0.75em;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    vertical-align: baseline
    }
.calibre6 {
    display: block
    }
.calibre7 {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto
    }
.calibre8 {
    color: inherit;
    font-size: 0.81818em;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    vertical-align: baseline
    }
.calibre9 {
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.calibre10 {
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.calibre11 {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    break-after: avoid;
    break-inside: avoid;
    display: block;
    font-family: "cpital", cpital;
    font-size: 1.5em;
    font-style: inherit;
    font-weight: bold;
    hyphens: none;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0
    }
.calibre12 {
    color: inherit;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    vertical-align: baseline
    }
.calibre13 {
    color: inherit;
    font-size: 0.83333em;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    vertical-align: baseline
    }
.calibre14 {
    background: none;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    break-after: avoid;
    break-inside: avoid;
    color: gray;
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    height: 2.5em;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-indent: 0;
    width: 0
    }
.calibre15 {
    color: inherit;
    font-size: 0.85714em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    text-decoration: none;
    vertical-align: baseline
    }
.calibre16 {
    height: 400px;
    max-height: 100%;
    max-width: 100%;
    width: auto
    }
.calibre17 {
    display: table-header-group;
    vertical-align: middle
    }
.calibre18 {
    display: table-row;
    vertical-align: inherit
    }
.calibre19 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre20 {
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: -4.5%
    }
.calibre21 {
    color: inherit;
    font-size: 0.8em;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    vertical-align: baseline
    }
.calibre22 {
    height: 40%;
    max-height: 100%;
    max-width: 100%;
    width: auto
    }
.calibre23 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre24 {
    font-size: 0.81818em;
    line-height: 1.2
    }
.calibre25 {
    -webkit-text-fill-color: inherit;
    color: inherit;
    text-decoration: none
    }
.cenbloque {
    display: block;
    font-family: serif;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.centabla {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    border-collapse: separate;
    border-spacing: 2px;
    display: inline-table;
    hyphens: none;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.citini {
    display: block;
    font-size: 0.875em;
    font-style: italic;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 26px;
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 10%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em;
    visibility: hidden
    }
.citini1 {
    display: block;
    font-size: 0.875em;
    font-style: italic;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 26px;
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 10%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    quotes: none;
    text-indent: 0
    }
.cubierta {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    break-after: avoid;
    break-inside: avoid;
    display: block;
    font-family: "cpital", cpital;
    font-size: 1.5em;
    font-style: inherit;
    font-weight: bold;
    hyphens: none;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: always;
    page-break-before: always;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0
    }
.cubierta1 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-size: 1.5em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: always;
    page-break-before: always;
    text-align: center;
    text-indent: 0
    }
.cursiva {
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.cursiva1 {
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.dedicatoria {
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 25%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.finulo {
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.gl {
    color: inherit;
    font-family: "glosa", glosa;
    font-size: 0.875em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    text-decoration: none;
    vertical-align: baseline
    }
.icono_fuente {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: 7%
    }
.imgcap {
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.imgparte {
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.info {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 0.75em;
    font-style: inherit;
    font-weight: inherit;
    hyphens: none;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: 90%
    }
.nosep {
    color: inherit;
    display: inline-block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    text-decoration: none;
    text-indent: 0;
    vertical-align: baseline
    }
.nosep1 {
    color: inherit;
    display: inline-block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    text-indent: 0;
    vertical-align: baseline
    }
.oculto {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    break-after: avoid;
    break-inside: avoid;
    display: none;
    font-size: 1.125em;
    font-style: inherit;
    font-weight: bold;
    hyphens: none;
    line-height: inherit;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0;
    visibility: hidden
    }
.prima {
    color: inherit;
    float: left;
    font-family: "cpital", cpital;
    font-size: 275%;
    font-style: inherit;
    font-weight: normal;
    height: 1em;
    line-height: 1.3em;
    margin-bottom: -0.21em;
    margin-left: 0;
    margin-right: 0.4%;
    margin-top: -0.17em;
    text-decoration: none;
    text-indent: 0;
    vertical-align: baseline
    }
.prima1 {
    color: inherit;
    float: left;
    font-family: "cpital", cpital;
    font-size: 1.5em;
    font-style: inherit;
    font-weight: normal;
    height: 1em;
    line-height: 1.3em;
    margin-bottom: -0.21em;
    margin-left: 0;
    margin-right: 0.4%;
    margin-top: -0.17em;
    text-decoration: none;
    text-indent: 0;
    vertical-align: baseline
    }
.sgc-toc-level {
    display: block;
    margin-bottom: 1em;
    margin-left: 0
    }
.sgc-toc-level1 {
    display: block;
    margin-left: 4.5%;
    margin-top: 0.5em
    }
.sgc-toc-title {
    display: block;
    font-family: "cpital", cpital;
    font-size: 1.375em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center
    }
.sinopsis {
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.spartulo {
    display: block;
    font-family: "cpital", cpital;
    font-size: 1.5em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.sprima {
    color: inherit;
    font-size: 0.66667em;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    vertical-align: top
    }
.tautor {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    color: #595959;
    display: block;
    font-family: sans-serif;
    font-size: 1.125em;
    font-style: inherit;
    font-weight: normal;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.text {
    display: block;
    font-size: 0.875em;
    font-style: italic;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 1.8em;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 1.8em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    quotes: none;
    text-indent: 0
    }
.textfr {
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 4.5%;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: -4.5%
    }
.tfecha {
    color: #595959;
    font-family: sans-serif;
    font-size: 1em;
    font-style: inherit;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none;
    vertical-align: baseline
    }
.tfirma {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-family: sans-serif;
    font-size: 0.75em;
    font-style: inherit;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0.25em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.tit {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    break-after: avoid;
    break-inside: avoid;
    display: block;
    font-family: "cpital", cpital;
    font-size: 1.375em;
    font-style: inherit;
    font-weight: normal;
    hyphens: none;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0
    }
.titesp {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    break-after: avoid;
    break-inside: avoid;
    display: block;
    font-family: "cpital", cpital;
    font-size: 1.375em;
    font-style: inherit;
    font-weight: normal;
    hyphens: none;
    line-height: inherit;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0
    }
.titespulo {
    display: block;
    font-family: "cpital", cpital;
    font-size: 1.25em;
    font-style: inherit;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.tlogo {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    height: auto;
    hyphens: none;
    line-height: inherit;
    margin-bottom: 8%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 15%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: 25%
    }
.trevision {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    color: #595959;
    display: block;
    font-family: sans-serif;
    font-size: 0.75em;
    font-style: inherit;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.tserie {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-style: inherit;
    font-weight: bold;
    hyphens: none;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.3em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.ttitulo {
    -epub-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    break-after: avoid;
    break-inside: avoid;
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
    hyphens: none;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    visibility: visible
    }
.vineta {
    display: block;
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1em;
    text-align: center;
    text-indent: 0
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

